body {
    font-size: 100%;
    font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    color: #2d2d2d;
}


/* TODO: size images manually so this is not necessary */

img {
    max-height: 20rem;
}


/***************** NAV *****************/

nav a:hover {
    text-decoration: underline;
}

.nav-title,
.cardInfo {
    color: white;
}

#searchBox,
#searchBoxFooter,
.cardInfo {
    margin-top: 1rem;
}

#navbarToggleExternalContent,
.navbar,
.navbar-default {
    background-color: #00695c;
}

.menu-list {
    color: white;
    margin: 4rem;
}


/**************** HERO *****************/

header img {
    max-height: 6rem;
}

h1 .logo-w {
    font-size: 3.5rem;
}


/**************** ASIDE ****************/

input[type="submit"] {
    padding: .25rem;
    background-color: #3D7FCF;
    border: 1px solid #3D7FCF;
    border-radius: 5px;
    font-size: .75rem;
    color: white;
}


/*********** PRODUCTS SECTION ***********/

section {
    padding: 0 .75rem;
}

h2 {
    padding-top: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: #2d2d2d;
}

h3 {
    font-size: 1.2rem;
    text-align: center;
    color: #2d2d2d;
}

.item-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-decoration: none;
}

#top-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item-container div {
    padding: 0rem;
    width: 14rem;
    height: 17rem;
    margin: 1rem;
    overflow: hidden;
}

.item-container div img {
    max-width: 20rem;
}

.item-display:hover {
    transform: scale(1.1, 1.1);
}

.item-container div:hover {
    padding: 0rem;
    width: 14rem;
    height: 41rem;
    margin: 1rem;
    overflow: visible;
}


/* webform style */

#webForm {
    display: none;
}

#clearButton {
    padding: .25rem;
    background-color: #3D7FCF;
    border: 1px solid #3D7FCF;
    border-radius: 5px;
    font-size: .75rem;
    color: white;
}

#updateCartFooter, #cartButtonFooter, #footerButton, #searchBarButtonFooter{
    display: none;
}

/* for smaller screen size settings and mobile devices  */
@media screen {
    .container {
        max-width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }

    #companyLogo {
        display: block;
    }
    .nav-title {
        font-size: 1.0rem;
    }
    #searchBarButton,
    #cartButton,
    {
        display: none;
    }
    .products {
        margin: 0;
        padding: 0;
    }
    .menu-list {
        display: flex;
        margin: 1rem;
    }
    .navbar-toggler {
        display: none;
    }
    h1 {
        align-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    #footerButton {
        display: block;
    }

    #updateCart{
        display: none;
    }
    #updateCartFooter, #cartButtonFooter, #cartFooter{
        display: block;
    }

    .item-container {    
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-left: 36%;
        margin-bottom: 1rem;
    }

    .item-container div:hover {        
        overflow: visible;
    }

    #productList{
        align-content: center;
    }
}